* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  min-width: 1024px;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  height: 228px;
  display: block;
}

html {
  height: 100%;
}

body {
  color: #5c7b98;
  font: normal 15px "elektra_light_proregular", sans-serif;
  height: 100%;
}

/* .info-line */
.info-line {
  background: #41606d;
  width: 100%;
}
.info-line__wrap {
  margin: 0 auto;
  position: relative;
  height: 41px;
  width: 1000px;
}
.info-line__socials {
  position: absolute;
  top: 8px;
  left: 0;
}
.info-line__phone {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 0;
}
.info-line__phone-region {
  font-size: 14px;
  font-family: 'elektra_light_probold';
  color: #00b9fe;
  margin-right: 7px;
}
.info-line__contacts {
  background: url("../img/design/contacts_ico.png") no-repeat 0 center;
  font-size: 13px;
  width: 275px;
  margin: 0 auto;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -123px;
  padding: 4px 0 2px 26px;
}
.info-line__contacts-link {
  color: #fff;
  text-decoration: none;
}

/* .socials */
.socials__item {
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  height: 25px;
  width: 25px;
}
.socials__item_vk {
  background-image: url("../img/design/vk_ico.png");
}
.socials__item_fb {
  background-image: url("../img/design/fb_ico.png");
}
.socials__item_tw {
  background-image: url("../img/design/tw_ico.png");
}
.socials__link {
  display: block;
  height: 100%;
  width: 100%;
}
.socials_big .socials__item {
  height: 44px;
  width: 44px;
}
.socials_big .socials__item_vk {
  background-image: url("../img/design/vk_ico_big.png");
}
.socials_big .socials__item_fb {
  background-image: url("../img/design/fb_ico_big.png");
}
.socials_big .socials__item_tw {
  background-image: url("../img/design/tw_ico_big.png");
}

/* .header */
.header {
  background: #d9e4ef;
}
.header__wrap {
  background: #d9e4ef;
  /* Old browsers */
  background: -moz-linear-gradient(left, #d9e4ef 0%, #dae4ef 0%, #f0f5f8 50%, #dae4ef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d9e4ef), color-stop(0%, #dae4ef), color-stop(50%, #f0f5f8), color-stop(100%, #dae4ef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #d9e4ef 0%, #dae4ef 0%, #f0f5f8 50%, #dae4ef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #d9e4ef 0%, #dae4ef 0%, #f0f5f8 50%, #dae4ef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #d9e4ef 0%, #dae4ef 0%, #f0f5f8 50%, #dae4ef 100%);
  /* IE10+ */
  background: linear-gradient(to right, #d9e4ef 0%, #dae4ef 0%, #f0f5f8 50%, #dae4ef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e4ef', endColorstr='#dae4ef',GradientType=1 );
  /* IE6-9 */
  height: 98px;
  margin: 0 auto;
  width: 1000px;
}
.header__logo {
  float: left;
  padding-top: 24px;
  width: 259px;
}
.header__search {
  padding-top: 34px;
  float: left;
}
.header__navi {
  float: left;
  list-style: none;
  padding-top: 28px;
}
.header__navi-item {
  border: 1px solid transparent;
  border-bottom: none;
  float: left;
  padding: 13px 5px;
  width: 122px;
  text-align: center;
}
.header__navi-item_basket {
  position: relative;
}
.header__navi-item_basket:hover {
  border-color: #dce6f0;
  background: #fff;
}
.header__navi-item_basket:hover .header__navi-basket {
  display: block;
}
.header__navi-item_basket .header__navi-link {
  background: url("../img/design/basket_ico.png") no-repeat 10px center;
  display: block;
  color: #5c7b98;
  height: 100%;
  padding-left: 35px;
}
.header__navi-link {
  color: #00b9fe;
  font-size: 13px;
}
.header__navi-link:hover {
  color: #613993;
}
.header__navi-basket {
  border: 1px solid #dce6f0;
  border-bottom: none;
  display: none;
  list-style: none;
  position: absolute;
  top: 41px;
  left: -113px;
  width: 244px;
  z-index: 50;
  zoom: 1;
}
.header__navi-basket-item {
  border-bottom: 1px solid #dce6f0;
  background: #fff;
  height: 75px;
  position: relative;
}
.header__navi-basket-item:hover {
  background: #f8fafb;
}
.header__navi-basket-img {
  max-width: 100%;
}
.header__navi-basket-img-wrap {
  display: table-cell;
  vertical-align: middle;
  height: 75px;
  width: 84px;
  text-align: center;
  overflow: hidden;
}
.header__navi-basket-link {
  font-size: 13px;
  color: #00b9fe;
}
.header__navi-basket-link-wrap {
  display: table-cell;
  width: 160px;
  height: 75px;
  vertical-align: middle;
  text-align: left;
}

/* .logo */
.logo {
  overflow: hidden;
}
.logo__link {
  display: inline-block;
}
.logo__img {
  max-width: 100%;
}
.logo__text {
  display: none;
}

/* .form */
.form__input {
  border: none;
  background: #fff;
  color: #dce6f0;
  display: inline-block;
  height: 35px;
}
.form__input:focus {
  outline: none;
}
.form__input_text {
  border: 1px solid #dce6f0;
  height: 19px;
  padding: 7px 10px;
}
.form__input_submit {
  font-family: 'elektra_light_probold';
  font-size: 17px;
  background: #00b9fe;
  color: #fff;
}
.form__search .form__input {
  float: left;
}
.form__search .form__input_text {
  width: 238px;
  border-right: none;
}
.form__search .form__input_submit {
  padding: 0 15px;
}

/* placeholder */
*::-webkit-input-placeholder {
  color: inherit;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color: inherit;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: inherit;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: inherit;
}

/* .menu */
.menu {
  background: #f7f7f7;
  border-bottom: 1px solid #e3e3e3;
}
.menu__list {
  list-style: none;
  margin: 0 auto;
  width: 1000px;
}
.menu__item {
  float: left;
  position: relative;
  margin: 0 16px 0 0;
}
.menu__item:last-child:after {
  display: none;
}
.menu__item:after {
  content: "";
  display: block;
  height: 40px;
  width: 16px;
  background: url("../img/design/menu_arrows_sprite.png") no-repeat 0 0;
  position: absolute;
  top: 0;
  right: -16px;
}
.menu__item_active {
  margin-left: -15px;
  padding: 0 0 0 16px;
}
.menu__item_active:before {
  content: "";
  display: block;
  height: 40px;
  width: 16px;
  background: url("../img/design/menu_arrows_sprite.png") no-repeat -20px -45px;
  position: absolute;
  top: 0;
  left: 0px;
}
.menu__item_active:after {
  content: "";
  display: block;
  height: 40px;
  width: 16px;
  background: url("../img/design/menu_arrows_sprite.png") no-repeat -43px -45px;
  position: absolute;
  top: 0;
  right: -16px;
}
.menu__item_active .menu__link {
  background: #00b9fe;
  color: #fff;
}
.menu__item:hover:not(.menu__item_active) {
  background: #dce6f0;
}
.menu__item:hover:not(.menu__item_active):before {
  content: "";
  display: block;
  height: 40px;
  width: 16px;
  background: url("../img/design/menu_arrows_sprite.png") no-repeat -20px 0;
  position: absolute;
  top: 0;
  left: -16px;
}
.menu__item:hover:not(.menu__item_active):after {
  content: "";
  display: block;
  height: 40px;
  width: 16px;
  background: url("../img/design/menu_arrows_sprite.png") no-repeat -43px 0;
  position: absolute;
  top: 0;
  right: -16px;
}
.menu__link {
  color: #5c7b98;
  display: block;
  text-decoration: none;
  line-height: 40px;
  padding: 0 11px;
}

/* .main */
.main {
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;
  width: 1000px;
}

/* .pagi */
.b-crumbs {
  list-style: none;
  padding: 20px 0;
}
.b-crumbs__item {
  font-size: 14px;
  display: inline-block;
}
.b-crumbs__item:after {
  content: "";
  background: url("../img/design/b_crubms_arrow.png") no-repeat 0 center;
  display: inline-block;
  margin: 0 4px;
  height: 7px;
  width: 6px;
}
.b-crumbs__item:last-child:after {
  display: none;
}
.b-crumbs__item:last-child .b-crumbs__link {
  color: #5c7b98;
  text-decoration: none;
}
.b-crumbs__link {
  color: #00b9fe;
}

/* product-page */
.product-info {
  margin-bottom: 45px;
}
.product-info__carousel {
  float: left;
  margin-right: 28px;
  width: 298px;
}
.product-info__main {
  float: left;
  width: 450px;
}
.product-info__headline {
  color: #00b9fe;
  font-size: 25px;
  font-family: 'elektra_light_probold';
  margin-bottom: 20px;
}
.product-info__line {
  padding: 6px 11px 5px 11px;
}
.product-info__line:nth-child(even) {
  background: #eef2f4;
}
.product-info__col_left {
  float: left;
  width: 163px;
}
.product-info__col_right {
  float: right;
  width: 182px;
}

.shop-desc {
  margin-bottom: 15px;
}
.shop-desc__headline {
  font-family: 'elektra_light_probold';
  font-size: 25px;
  margin-bottom: 5px;
}
.shop-desc__col {
  float: left;
  width: 295px;
  margin-left: 50px;
  line-height: 20px;
}
.shop-desc__col:first-child {
  margin-left: 0;
}

.scroll-up-btn {
  color: #fff;
  cursor: pointer;
  background: #00b9fe;
  font-family: 'elektra_light_probold';
  font-size: 14px;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: -95px;
  padding: 2px 14px;
}
.scroll-up-btn:before {
  content: "";
  display: block;
  background: url("../img/design/scroll_up_bg_top.png") no-repeat center 0;
  height: 5px;
  position: relative;
  top: -7px;
}
.scroll-up-btn:after {
  content: "";
  display: block;
  background: url("../img/design/scroll_up_bg_bottom.jpg") no-repeat center 0;
  height: 5px;
  position: relative;
  bottom: -2px;
}

/* .carousel */
.carousel {
  position: relative;
}
.carousel__full-img-wrap {
  height: 238px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.carousel__img {
  max-width: 100%;
}
.carousel__wrap {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 245px;
  margin-bottom: 15px;
}
.carousel__list {
  list-style: none;
  position: relative;
  left: 0;
}
.carousel__item {
  cursor: pointer;
  float: left;
  height: 75px;
  margin-left: 10px;
  overflow: hidden;
  width: 75px;
}
.carousel__item:first-child {
  margin-left: 0;
}
.carousel__btn {
  cursor: pointer;
  background-repeat: no-repeat;
  height: 34px;
  width: 22px;
  position: absolute;
  bottom: 20px;
}
.carousel__btn_prev {
  background-image: url("../img/design/carousel_prev_sprite.png");
  background-position: 0 0;
  left: 0;
}
.carousel__btn_next {
  background-image: url("../img/design/carousel_next_sprite.png");
  background-position: 0 0;
  right: 0;
}
.carousel__btn:hover {
  background-position: 0 -39px;
}

/* .footer */
.footer {
  background: url("../img/design/footer_bg.jpg") repeat 0 0;
  height: 228px;
  margin-top: -228px;
  width: 100%;
}
.footer__wrap {
  margin: 0 auto;
  padding-top: 60px;
  position: relative;
  width: 1000px;
}
.footer__logo {
  float: left;
  padding-top: 39px;
  width: 248px;
}
.footer__list {
  list-style: none;
  float: left;
  width: 162px;
}
.footer__list-item {
  color: #fff;
  margin-bottom: 6px;
}
.footer__list-item__headline {
  font-family: 'elektra_light_probold';
}
.footer__list-link {
  color: #fff;
}
.footer__links {
  float: right;
  padding: 12px 12px 0 0;
}
.footer__links-app {
  margin-bottom: 22px;
}
.footer__links-app-link {
  display: inline-block;
}

/*# sourceMappingURL=main.css.map */
