extends ../layouts/product_layout.jade

block content
  .product-info.clearfix
    .product-info__carousel
      .carousel
        .carousel__full-img-wrap
          img(src="img/design/slider_img_1.jpg", alt="iPad Air Wi-Fi + Cellular 128GB - Silver").carousel__full-img
        .carousel__wrap
          ul.carousel__list.clearfix
            li.carousel__item.carousel__item_active
              img(src="img/design/slider_img_mini_1.jpg", alt="iPad Air Wi-Fi + Cellular 128GB - Silver", data-fullimg="http://appleshop.molchanoweb.ru/img/main/ipad_large.jpg").carousel__img
            li.carousel__item
              img(src="img/design/slider_img_mini_2.jpg", alt="iPad Air Wi-Fi + Cellular 128GB - Silver", data-fullimg="http://static.baza.farpost.ru/v/1425779958907_hugeBlock").carousel__img
            li.carousel__item
              img(src="img/design/slider_img_mini_3.jpg", alt="iPad Air Wi-Fi + Cellular 128GB - Silver", data-fullimg="http://static.baza.farpost.ru/v/1425726179798_hugeBlock").carousel__img
            li.carousel__item
              img(src="img/design/slider_img_mini_2.jpg", alt="iPad Air Wi-Fi + Cellular 128GB - Silver", data-fullimg="http://media2.giga.de/2011/07/artstation-pro-ipad-rcm592x375.png").carousel__img
            li.carousel__item
              img(src="img/design/slider_img_mini_1.jpg", alt="iPad Air Wi-Fi + Cellular 128GB - Silver", data-fullimg="http://static.baza.farpost.ru/v/1422190061930_hugeBlock").carousel__img
        .carousel__btn.carousel__btn_prev
        .carousel__btn.carousel__btn_next

    .product-info__main
      p.product-info__headline iPad Air Wi-Fi + Cellular 128GB - Silver

      .product-info__params
        .product-info__line.clearfix
          .product-info__col.product-info__col_left Артикул
          .product-info__col.product-info__col_right 42787825
        .product-info__line.clearfix
          .product-info__col.product-info__col_left Опция
          .product-info__col.product-info__col_right включена
        .product-info__line.clearfix
          .product-info__col.product-info__col_left Цвет
          .product-info__col.product-info__col_right серебристый
        .product-info__line.clearfix
          .product-info__col.product-info__col_left Размер
          .product-info__col.product-info__col_right 1280*1245*90
        .product-info__line.clearfix
          .product-info__col.product-info__col_left Вес
          .product-info__col.product-info__col_right 200 кг
        .product-info__line.clearfix
          .product-info__col.product-info__col_left Артикул
          .product-info__col.product-info__col_right 42787825
        .product-info__line.clearfix
          .product-info__col.product-info__col_left Опция
          .product-info__col.product-info__col_right включена
        .product-info__line.clearfix
          .product-info__col.product-info__col_left Цвет
          .product-info__col.product-info__col_right серебристый
        .product-info__line.clearfix
          .product-info__col.product-info__col_left Размер
          .product-info__col.product-info__col_right 1280*1245*90
        .product-info__line.clearfix
          .product-info__col.product-info__col_left Вес
          .product-info__col.product-info__col_right 200 кг

  .shop-desc
    .shop-desc__headline Пара слов о магазине
    .clearfix
      .shop-desc__col
        p.shop-desc__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
      .shop-desc__col
        p.shop-desc__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
      .shop-desc__col
        p.shop-desc__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

  .scroll-up-btn Наверх