.footer
  .footer__wrap.clearfix
    .footer__logo
      .logo
        a(href="/").logo__link
          img(src="img/design/logo_footer.png", alt="Логотип").logo__img
    ul.footer__list
      li.footer__list-item.footer__list-item__headline О магазине
      li.footer__list-item
        a(href="#").footer__list-link О нас
      li.footer__list-item
        a(href="#").footer__list-link Наши цены
      li.footer__list-item
        a(href="#").footer__list-link Наши скидки
      li.footer__list-item
        a(href="#").footer__list-link Акции
    ul.footer__list
      li.footer__list-item.footer__list-item__headline Каталог
      li.footer__list-item
        a(href="#").footer__list-link Смартфоны
      li.footer__list-item
        a(href="#").footer__list-link Планшеты
      li.footer__list-item
        a(href="#").footer__list-link Компьютеры
      li.footer__list-item
        a(href="#").footer__list-link Аксессуары
    ul.footer__list
      li.footer__list-item.footer__list-item__headline Контакты
      li.footer__list-item
        a(href="#").footer__list-link Телефоны
      li.footer__list-item
        a(href="#").footer__list-link Адреса
      li.footer__list-item
        a(href="#").footer__list-link Карта проезда
      li.footer__list-item
        a(href="#").footer__list-link Обратная связь
    .footer__links
      .footer__links-app
        a(href="#", target="_blank").footer__links-app-link
          img(src="img/design/appstore.png", alt="App Store").footer__links-app-img
        a(href="#", target="_blank").footer__links-app-link
          img(src="img/design/googleplay.png", alt="App Store").footer__links-app-img
      ul.socials.socials_big
        li.socials__item.socials__item_vk
          a.socials__link(href="#", target="_blank")
        li.socials__item.socials__item_fb
          a.socials__link(href="#", target="_blank")
        li.socials__item.socials__item_tw
          a.socials__link(href="#", target="_blank")
// END .footer
<!-- build:js js/jquery.placeholder.min.js -->
script(src='/bower/jquery/dist/jquery.js')
script(src="bower/jquery-placeholder/jquery.placeholder.min.js")
script(src="bower/selectivizr/selectivizr.js")
script(src="js/main.js")
<!-- endbuild -->
