.info-line
  .info-line__wrap
    .info-line__socials
      ul.social
        li.socials__item.socials__item_vk
          a.socials__link(href="#", target="_blank")
        li.socials__item.socials__item_fb
          a.socials__link(href="#", target="_blank")
        li.socials__item.socials__item_tw
          a.socials__link(href="#", target="_blank")
    .info-line__contacts
      a(href="#").info-line__contacts-link г. Москва, ул. Новая 246, офис 214
    a(href="tel:+7(921)3221232").info-line__phone <sup class="info-line__phone-region">+7 (921)</sup>322 12 32
// END .info-line