.info-line
  .info-line__wrap
    .info-line__social
      ul.social
        li.social__item.social__item_vk
          a.social__link(href="#")
        li.social__item.social__item_fb
          a.social__link(href="#")
        li.social__item.social__item_tw
          a.social__link(href="#")
    .info-line__contacts
      a(href="#").info-line__contacts-link г. Москва, ул. Новая 246, офис 214
    .info-line__phone <sup class="info-line__phone-region">+7 (921)</sup>322 12 32
// END .info-line