/* .form */

.form {
	&__input {
		border: none;
		background: #fff;
		color: #dce6f0;
		display: inline-block;
		height: 35px;
		&:focus {
			outline: none;
		}
		&_text {
			border: 1px solid #dce6f0;
			height: 19px;
			padding: 7px 10px;
		}
		&_submit {
			font-family: 'elektra_light_probold';
			font-size: 17px;
			background: #00b9fe;
			color: #fff;
		}
	}
	&__search {
		.form__input {
			float: left;
			&_text {
				width: 238px;
				border-right: none;
			}
			&_submit {
				padding: 0 15px;
			}
		}
	}
}
/* placeholder */
*::-webkit-input-placeholder {
	color: inherit;
}
*:-moz-placeholder {
	/* FF 4-18 */
	color: inherit;
}
*::-moz-placeholder {
	/* FF 19+ */
	color: inherit;
}
*:-ms-input-placeholder {
	/* IE 10+ */
	color: inherit;
}