* {
	margin: 0;
	padding: 0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.wrapper {
	position: relative;
	margin: 0 auto;
	min-height: 100%;
	min-width: 1024px;
	overflow: hidden;
}
.wrapper:after { // прижимаем футер книзу
	content: "";
	height: 228px;
	display: block;
}

html {
	height: 100%;
}
body {
	color: #5c7b98;
	font: normal 15px "elektra_light_proregular", sans-serif;
	height: 100%;
}
.main {
	margin: 0 auto;
	padding-bottom: 50px;
	position: relative;
	width: 1000px;
}

/* .socials */

.socials {
	&__item {
		background-repeat: no-repeat;
		background-position: 0 0;
		display: inline-block;
		height: 25px;
		width: 25px;
		&_vk {
			background-image: url("../img/design/vk_ico.png");
		}
		&_fb {
			background-image: url("../img/design/fb_ico.png");
		}
		&_tw {
			background-image: url("../img/design/tw_ico.png");
		}
	}
	&__link {
		display: block;
		height: 100%;
		width: 100%;
	}
	&_big {
		& .socials__item {
			height: 44px;
			width: 44px;
			&_vk {
				background-image: url("../img/design/vk_ico_big.png");
			}
			&_fb {
				background-image: url("../img/design/fb_ico_big.png");
			}
			&_tw {
				background-image: url("../img/design/tw_ico_big.png");
			}
		}
	}
}

/* .logo */

.logo {
	overflow: hidden;
	&__link {
		display: inline-block;
	}
	&__img {
		max-width: 100%;
	}
	&__text {
		display: none;
	}
}

/* .scroll-up-btn */

.scroll-up-btn {
	color: #fff;
	cursor: pointer;
	background: #00b9fe;
	font-family: 'elektra_light_probold';
	font-size: 14px;
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: -95px;
	padding: 2px 14px;
	&:before {
		content: "";
		display: block;
		background: url("../img/design/scroll_up_bg_top.png") no-repeat center 0;
		height: 5px;
		position: relative;
		top: -7px;
	}
	&:after {
		content: "";
		display: block;
		background: url("../img/design/scroll_up_bg_bottom.jpg") no-repeat center 0;
		height: 5px;
		position: relative;
		bottom: -2px;
	}
}