* {
	margin: 0;
	padding: 0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.wrapper {
	position: relative;
	margin: 0 auto;
	min-height: 100%;
	min-width: 1024px;
	overflow: hidden;
}
.wrapper:after {
	content: "";
	height: 228px;
	display: block;
}

html {
	height: 100%;
}
body {
	color: #5c7b98;
	font: normal 15px "elektra_light_proregular", sans-serif;
	height: 100%;
}

/* .info-line */

.info-line {
	background: #41606d;
	width: 100%;
	&__wrap {
		margin: 0 auto;
		position: relative;
		height: 41px;
		width: 1000px;
	}
	&__socials {
		position: absolute;
		top: 8px;
		left: 0;
	}
	&__phone {
		color: #fff;
		font-size: 25px;
		text-decoration: none;
		position: absolute;
		top: 8px;
		right: 0;
		&-region {
			font-size: 14px;
			font-family: 'elektra_light_probold';
			color: #00b9fe;
			margin-right: 7px;
		}
	}
	&__contacts {
		background: url("../img/design/contacts_ico.png") no-repeat 0 center;
		font-size: 13px;
		width: 275px;
		margin: 0 auto;
		position: absolute;
		top: 8px;
		left: 50%;
		margin-left: -123px;
		padding: 4px 0 2px 26px;
		&-link {
			color: #fff;
			text-decoration: none;
		}
	}
}

/* .socials */

.socials {
	&__item {
		background-repeat: no-repeat;
		background-position: 0 0;
		display: inline-block;
		height: 25px;
		width: 25px;
		&_vk {
			background-image: url("../img/design/vk_ico.png");
		}
		&_fb {
			background-image: url("../img/design/fb_ico.png");
		}
		&_tw {
			background-image: url("../img/design/tw_ico.png");
		}
	}
	&__link {
		display: block;
		height: 100%;
		width: 100%;
	}
	&_big {
		& .socials__item {
			height: 44px;
			width: 44px;
			&_vk {
				background-image: url("../img/design/vk_ico_big.png");
			}
			&_fb {
				background-image: url("../img/design/fb_ico_big.png");
			}
			&_tw {
				background-image: url("../img/design/tw_ico_big.png");
			}
		}
	}
}

/* .header */

.header {
	background: #d9e4ef;
	&__wrap {
		background: #d9e4ef; /* Old browsers */
		background: -moz-linear-gradient(left,  #d9e4ef 0%, #dae4ef 0%, #f0f5f8 50%, #dae4ef 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d9e4ef), color-stop(0%,#dae4ef), color-stop(50%,#f0f5f8), color-stop(100%,#dae4ef)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #d9e4ef 0%,#dae4ef 0%,#f0f5f8 50%,#dae4ef 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #d9e4ef 0%,#dae4ef 0%,#f0f5f8 50%,#dae4ef 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #d9e4ef 0%,#dae4ef 0%,#f0f5f8 50%,#dae4ef 100%); /* IE10+ */
		background: linear-gradient(to right,  #d9e4ef 0%,#dae4ef 0%,#f0f5f8 50%,#dae4ef 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e4ef', endColorstr='#dae4ef',GradientType=1 ); /* IE6-9 */

		height: 98px;
		margin: 0 auto;
		width: 1000px;
	}
	&__logo {
		float: left;
		padding-top: 24px;
		width: 259px;
	}
	&__search {
		padding-top: 34px;
		float: left;
	}
	&__navi {
		float: left;
		list-style: none;
		padding-top: 28px;
		&-item {
			border: 1px solid transparent;
			border-bottom: none;
			float: left;
			padding: 13px 5px;
			width: 122px;
			text-align: center;
			&_basket {
				position: relative;
				&:hover {
					border-color: #dce6f0;
					background: #fff;
					& .header__navi-basket {
						display: block;
					}
				}
				& .header__navi-link {
					background: url("../img/design/basket_ico.png") no-repeat 10px center;
					display: block;
					color: #5c7b98;
					height: 100%;
					padding-left: 35px;
				}
			}
		}
		&-link {
			color: #00b9fe;
			font-size: 13px;
			&:hover {
				color: #613993;
			}
		}
		&-basket {
			border: 1px solid #dce6f0;
			border-bottom: none;
			display: none;
			list-style: none;
			position: absolute;
			top: 41px;
			left: -113px;
			width: 244px;
			z-index: 50;
			zoom: 1;
			&-item {
				border-bottom: 1px solid #dce6f0;
				background: #fff;
				height: 75px;
				position: relative;
				&:hover {
					background: #f8fafb;
				}
			}
			&-img {
				max-width: 100%;
				&-wrap {
					display: table-cell;
					vertical-align: middle;
					height: 75px;
					width: 84px;
					text-align: center;
					overflow: hidden;
				}
			}
			&-link {
				font-size: 13px;
				color: #00b9fe;
				&-wrap {
					display: table-cell;
					width: 160px;
					height: 75px;
					vertical-align: middle;
					text-align: left;
				}
			}
		}
	}
}

/* .logo */

.logo {
	overflow: hidden;
	&__link {
		display: inline-block;
	}
	&__img {
		max-width: 100%;
	}
	&__text {
		display: none;
	}
}

/* .form */

.form {
	&__input {
		border: none;
		background: #fff;
		color: #dce6f0;
		display: inline-block;
		height: 35px;
		&:focus {
			outline: none;
		}
		&_text {
			border: 1px solid #dce6f0;
			height: 19px;
			padding: 7px 10px;
		}
		&_submit {
			font-family: 'elektra_light_probold';
			font-size: 17px;
			background: #00b9fe;
			color: #fff;
		}
	}
	&__search {
		.form__input {
			float: left;
			&_text {
				width: 238px;
				border-right: none;
			}
			&_submit {
				padding: 0 15px;
			}
		}
	}
}
/* placeholder */
*::-webkit-input-placeholder {
	color: inherit;
}
*:-moz-placeholder {
	/* FF 4-18 */
	color: inherit;
}
*::-moz-placeholder {
	/* FF 19+ */
	color: inherit;
}
*:-ms-input-placeholder {
	/* IE 10+ */
	color: inherit;
}

/* .menu */

.menu {
	background: #f7f7f7;
	border-bottom: 1px solid #e3e3e3;
	&__list {
		list-style: none;
		margin: 0 auto;
		width: 1000px;
	}
	&__item {
		float: left;
		position: relative;
		margin: 0 16px 0 0;
		&:last-child {
			&:after {
				display: none;
			}
		}
		&:after {
			content: "";
			display: block;
			height: 40px;
			width: 16px;
			background: url("../img/design/menu_arrows_sprite.png") no-repeat 0 0;
			position: absolute;
			top: 0;
			right: -16px;
		}
		&_active {
			margin-left: -15px;
			padding: 0 0 0 16px;
			&:before {
				content: "";
				display: block;
				height: 40px;
				width: 16px;
				background: url("../img/design/menu_arrows_sprite.png") no-repeat -21px -45px;
				position: absolute;
				top: 0;
				left: 0px;
			}
			&:after {
				content: "";
				display: block;
				height: 40px;
				width: 16px;
				background: url("../img/design/menu_arrows_sprite.png") no-repeat -43px -45px;
				position: absolute;
				top: 0;
				right: -16px;
			}
			& .menu__link {
				background: #00b9fe;
				color: #fff;
			}
		}
		&:hover:not(.menu__item_active) {
			background: #dce6f0;
			&:before {
				content: "";
				display: block;
				height: 40px;
				width: 16px;
				background: url("../img/design/menu_arrows_sprite.png") no-repeat -20px 0;
				position: absolute;
				top: 0;
				left: -16px;
			}
			&:after {
				content: "";
				display: block;
				height: 40px;
				width: 16px;
				background: url("../img/design/menu_arrows_sprite.png") no-repeat -43px 0;
				position: absolute;
				top: 0;
				right: -16px;
			}
		}
	}
	&__link {
		color: #5c7b98;
		display: block;
		text-decoration: none;
		line-height: 40px;
		padding: 0 11px;
	}
}

/* .main */

.main {
	margin: 0 auto;
	padding-bottom: 50px;
	position: relative;
	width: 1000px;
}

/* .pagi */

.b-crumbs {
	list-style: none;
	padding: 20px 0;
	&__item {
		font-size: 14px;
		display: inline-block;
		&:after {
			content: "";
			background: url("../img/design/b_crubms_arrow.png") no-repeat 0 center;
			display: inline-block;
			margin: 0 4px;
			height: 7px;
			width: 6px;
		}
		&:last-child {
			&:after {
				display: none;
			}
			& .b-crumbs__link {
				color: #5c7b98;
				text-decoration: none;
			}
		}
	}
	&__link {
		color: #00b9fe;
	}
}

/* product-page */

.product-info {
	margin-bottom: 45px;
	&__carousel {
		float: left;
		margin-right: 28px;
		width: 298px;
	}
	&__main {
		float: left;
		width: 450px;
	}
	&__headline {
		color: #00b9fe;
		font-size: 25px;
		font-family: 'elektra_light_probold';
		margin-bottom: 20px;
	}
	&__line {
		padding: 6px 11px 5px 11px;
		&:nth-child(even) {
			background: #eef2f4;
		}
	}
	&__col {
		&_left {
			float: left;
			width: 163px;
		}
		&_right {
			float: right;
			width: 182px;
		}
	}
}

.shop-desc {
	margin-bottom: 15px;
	&__headline {
		font-family: 'elektra_light_probold';
		font-size: 25px;
		margin-bottom: 5px;
	}
	&__col {
		float: left;
		width: 295px;
		margin-left: 50px;
		line-height: 20px;
		&:first-child {
			margin-left: 0;
		}
	}
}

.scroll-up-btn {
	color: #fff;
	cursor: pointer;
	background: #00b9fe;
	font-family: 'elektra_light_probold';
	font-size: 14px;
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: -95px;
	padding: 2px 14px;
	&:before {
		content: "";
		display: block;
		background: url("../img/design/scroll_up_bg_top.png") no-repeat center 0;
		height: 5px;
		position: relative;
		top: -7px;
	}
	&:after {
		content: "";
		display: block;
		background: url("../img/design/scroll_up_bg_bottom.jpg") no-repeat center 0;
		height: 5px;
		position: relative;
		bottom: -2px;
	}
}

/* .carousel */

.carousel {
	position: relative;
	&__full-img-wrap {
		height: 238px;
		text-align: center;
		padding-top: 10px;
		margin-bottom: 15px;
		overflow: hidden;
	}
	&__img {
		max-width: 100%;
	}
	&__wrap {
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		width: 245px;
		margin-bottom: 15px;
	}
	&__list {
		list-style: none;
		position: relative;
		left: 0;
	}
	&__item {
		cursor: pointer;
		float: left;
		height: 75px;
		margin-left: 10px;
		overflow: hidden;
		width: 75px;
		&:first-child {
			margin-left: 0;
		}
	}
	&__btn {
		cursor: pointer;
		background-repeat: no-repeat;
		height: 34px;
		width: 22px;
		position: absolute;
		bottom: 20px;
		&_prev {
			background-image: url("../img/design/carousel_prev_sprite.png");
			background-position: 0 0;
			left: 0;
		}
		&_next {
			background-image: url("../img/design/carousel_next_sprite.png");
			background-position: 0 0;
			right: 0;
		}
		&:hover {
			background-position: 0 -39px;
		}
	}
}

/* .footer */

.footer {
	background: url("../img/design/footer_bg.jpg") repeat 0 0;
	height: 228px;
	margin-top: -228px;
	width: 100%;
	&__wrap {
		margin: 0 auto;
		padding-top: 60px;
		position: relative;
		width: 1000px;
	}
	&__logo {
		float: left;
		padding-top: 39px;
		width: 248px;
	}
	&__list {
		list-style: none;
		float: left;
		width: 162px;
		&-item {
			color: #fff;
			margin-bottom: 6px;
			&__headline {
				font-family: 'elektra_light_probold';
			}
		}
		&-link {
			color: #fff;
		}
	}
	&__links {
		float: right;
		padding: 12px 12px 0 0;
		&-app {
			margin-bottom: 22px;
			&-link {
				display: inline-block;
			}
		}
	}
}